.admin-product-block {
  &__id {
    padding: 0 20px;
  }

  &__img {
    width: 100px;
    height: 80px;
    border-radius: 4px;
    object-fit: cover;
    display: block;
    margin: auto;
  }

  &__title {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
  }

  &__price {
    font-size: 18px;
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: center;
    flex-direction: column;

    & button {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__button-delete {
    font-size: 13px;
    font-weight: 500;
    background: none;
    color: #999;
  }

  &.skeleton {
    height: 108px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
