.admin-products {
  &__header {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .input-search {
    margin-bottom: 26px;
  }

  & table {
    width: 100%;
    border: 1px solid #e7e7e7;
    table-layout: fixed;

    & thead {
      & th {
        padding: 12px;
        font-weight: 500;
      }
    }

    & tbody {
      & tr {
        border: 1px solid #e7e7e7;

        &:nth-child(odd) {
          background: #fff;
        }

        &:nth-child(even) {
          background: #f7f7f7;
        }

        & td {
          height: 115px;
          & a {
            margin-bottom: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}
