.admin-products {
  &__header {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .input-search {
    margin-bottom: 26px;
    position: relative;

    & input {
      padding: 10px 10px 10px 42px;
      border-radius: 6px;
      border: 1px solid #fff479;
    }

    & .svg-search {
      width: 18px;
      height: 18px;
      opacity: 0.3;
      left: 14px;
      top: 9px;
      pointer-events: none;
      position: absolute;
    }
  }

  & table {
    width: 100%;
    border: 1px solid #e7e7e7;
    border-collapse: collapse;
    table-layout: fixed;

    & thead {
      & th {
        border: 1px solid #e7e7e7;
        padding: 12px;
        font-weight: 500;
        background-color: #ffffad;
      }
    }

    & tbody {
      & tr {
        border: 1px solid #e7e7e7;

        &:nth-child(odd) {
          background: #fff;
        }

        &:nth-child(even) {
          background: #f7f7f7;
        }
      }

      & td {
        padding: 30px;
        border: 1px solid #e7e7e7;
        text-align: center;
      }
    }
  }
}
