.admin-products {
  &__header {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__add-product {
    padding: 14px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgba(41, 52, 120, 0.53);
    color: white;
    display: inline-flex;
    align-items: center;
    transition: $transition;

    &:hover {
      background-color: rgb(41 52 120 / 58%);
      transition: $transition;
    }

    & span {
      padding-right: 6px;
    }
  }

  & input {
    margin-bottom: 26px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #fff479;
  }

  & table {
    width: 100%;
    border: 1px solid #e7e7e7;
    border-collapse: collapse;
    table-layout: fixed;

    & thead {
      & th {
        border: 1px solid #e7e7e7;
        padding: 12px;
        font-weight: 500;
        background-color: #ffffad;
      }
    }

    & tbody {
      & tr {
        border: 1px solid #e7e7e7;

        &:nth-child(odd) {
          background: #fff;
        }

        &:nth-child(even) {
          background: #f7f7f7;
        }
      }

      & td {
        padding: 30px;
        border: 1px solid #e7e7e7;
        text-align: center;
      }
    }
  }
}
