footer {
  background: #303030;
}

.wrapper-footer {
  padding: 2.4rem 6% 0;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;
}

.logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer__logo-texts {
  line-height: 1.1;
  color: white;
}

.logo-text-footer {
  font-weight: 600;
  font-size: 20px;
}

.logo-text2-footer {
  font-weight: 600;
  font-size: 12px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-item:first-child {
  margin-right: 2rem;
}

.social-link {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: left center;
}

.footer-info {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}

.footer-info span {
  font-size: 16px;
  color: #fff;
}

.footer-info span:first-child {
  color: #dfdfdf;
  font-size: 14px;
  font-weight: 500;
  margin-left: 0;
}

.footer-info span {
  font-size: 16px;
  color: #fff;
}

.footer-info span a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
  margin-left: 5rem;
}

.footer-info button {
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid $primary;
  outline: none;
  color: #fff;
  background-color: $primary;
  justify-content: center;
  padding: 0.8rem 1rem;
  transition-duration: 0.1s;
  font-family: inherit;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  color: #828282;
  padding: 0 0 16px;
  font-size: 12px;
}

.footer-bottom p {
  color: #ccc;
  margin: 0;
}

.footer-bottom a {
  color: #ccc;
  text-decoration: none;
}
