header {
  z-index: 11;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #dfdee2;
  background: #fff;
  transition: 0.3s;
}

header.sticky {
  background-color: #fff;
  padding: 10px 6%;
  border-bottom: 0.5px solid #f1f1f1;
}

@media (max-width: 1240px) {
  header.sticky {
    padding: 10px 15px;
  }
}

.header__top {
  background-color: $primary;
}

.location {
  margin-right: 1.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* .location:hover .location-image {
    fill: white;
  }
  
  .location:hover .location-text {
    color: white;
  } */

.location-image {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  fill: white;
  transition: 0.1s;
}

.location-text {
  color: white;
  font-weight: 600;
  transition: 0.1s;
}

header .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

@media (max-width: 1240px) {
  header .menu {
    margin-left: auto;
  }
}

@media (max-width: 1024px) {
  header .menu {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -2%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.42, 0, 0, 1);
    -webkit-transition: 0.3s cubic-bezier(0.42, 0, 0, 1);
  }
}

header .menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
  transition: 0.3s cubic-bezier(0.42, 0, 0, 1);
  -webkit-transition: 0.3s cubic-bezier(0.42, 0, 0, 1);
}

@media (max-width: 375px) {
  header .menu .nav li a {
    font-size: 1rem;
  }
}

.header__top-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.hamb {
  display: none;
  cursor: pointer;
  z-index: 1111;
}

@media (max-width: 1024px) {
  .hamb {
    display: block;
    margin-right: 0.8rem;
    padding: 10px 20px 10px 0;
    border-radius: 6px;
  }
}

@media (max-width: 375px) {
  .hamb {
    margin-right: 0;
    padding-left: 10px;
  }
}

.bar {
  display: block;
  width: 24px;
  height: 1px;
  border-radius: 1px;
  margin: 6px auto;
  transition: 0.3s cubic-bezier(0.42, 0, 0, 1);
  -webkit-transition: 0.3s cubic-bezier(0.42, 0, 0, 1);
  background-color: white;
}

.hamb.active .bar {
  background-color: black;
}

.hamb.active .bar:nth-child(2) {
  opacity: 0;
}

.hamb.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  -webkit-transform: translateY(8px) rotate(45deg);
}

.hamb.active .bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
  -webkit-transform: translateY(-6px) rotate(-45deg);
}

.logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 375px) {
  .logo {
    justify-content: center;
    padding-left: 15px;
  }
}

.logo-image {
  fill: #ff5f00;
  width: 35px;
  height: 35px;
  cursor: pointer;
  padding: 0 0.5rem 0 0;
}

@media (max-width: 375px) {
  .logo-image {
    padding-left: 0;
  }
}

.logo-texts {
  line-height: 1.1;
  color: #ff5f00;
}

.logo-text {
  font-size: 20px;
  font-weight: 500;
}

.logo-text2 {
  font-size: 12px;
  font-weight: normal;
}

@media (max-width: 430px) {
  .logo-text2 {
    font-size: 13px;
  }
}

.nav {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .nav {
    flex-direction: column;
    gap: 0;
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 375px) {
  .nav {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .nav > li:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
  }
}

.nav > li > a {
  display: block;
  padding: 6px 2px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  transition: 0.1s;
}

@media (max-width: 1024px) {
  header .menu .nav li a {
    font-size: 1.3rem;
    padding: 16px 5px;
    color: black;
  }
}

.header-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: auto;
}

@media (max-width: 1240px) {
  .header-info {
    margin-left: auto;
  }
}

@media (max-width: 530px) {
  .header-info {
    display: none;
  }
}

@media (max-width: 375px) {
  .header-info {
    display: none;
  }
}

.header-info a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.1s;
}

@media (max-width: 767px) {
  .header-info a {
    display: none;
  }
}

/* .header-info a:hover {
    color: #ff5f00;
  } */

.header-info button {
  border: 1px solid #fccdb1;
  color: white;
  font-weight: 500;
  background: none;
  width: 10rem;
  line-height: 1;
  padding: 10px;
  border-radius: 10px;
}

.header-info button:hover {
  border: 1px solid $primary;
  background-color: white;
  color: $primary;
}

.header-info-mobile {
  width: 30px;
  height: 30px;
  padding: 10px;
  margin-left: 0.8rem;
  display: none;
}

@media (max-width: 530px) {
  .header-info-mobile {
    display: flex;
  }
}

@media (max-width: 375px) {
  .header-info-mobile {
    margin-left: 0;
  }
}

.header-info-mobile a {
  width: 100%;
  height: 100%;
}

.header-info-mobile img {
  width: 100%;
  height: 100%;
}

.header__bottom {
  background-color: white;
}

.header__bottom-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

.header__right-links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 999px) {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 47px;
    padding-top: 10px;
    justify-content: space-evenly;
    background-color: white;
    border-top: 1px solid #dfdee2;
  }

  & a {
    font-size: 15px;
    position: relative;
    display: flex;
    align-items: center;
    height: 3rem;
    border-radius: 6px;
    cursor: pointer;

    @media (max-width: 999px) {
      flex-direction: column;
    }

    &:hover {
      & svg {
        stroke: #ff5f00;
      }
    }

    &:hover {
      & span {
        color: #ff5f00;
      }
    }

    & svg {
      padding-right: 6px;

      @media (max-width: 999px) {
        padding-right: 0;
      }
    }

    & span {
      @media (max-width: 999px) {
        font-size: 11px;
        color: #a5a5a5;
      }
    }

    &:not(:last-child) {
      margin-right: 20px;

      @media (max-width: 999px) {
        margin-right: 0;
      }
    }
  }
}

.header__favourites-image {
  display: block;
  width: 18px;
  height: 18px;
  fill: none;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke: #bdbdbd;
  stroke-width: 3;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

.header__favourites-image.active {
  stroke: $primary;
}

@media (max-width: 999px) {
  .header__favourites-image {
    margin-right: 0;
  }
}

.header__favourites-image-counter {
  position: absolute;
  top: 4px;
  left: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $primary;
  display: none;
}

.header__favourites-image-counter.active {
  display: block;
}

@media (max-width: 999px) {
  .header__favourites-image-counter {
    top: 0px;
    left: 32px;
  }
}

.header__favourites-image-counter-text {
  font-size: 12px;
  font-weight: 600;
  color: white;
}

.header__signin-link {
  &:hover {
    & svg {
      stroke: $primary;
      transition: 0.3s ease;
    }

    & .header__signin-link__text {
      color: $primary;
    }
  }
}

.header__signin-image {
  height: 18px;
  width: 18px;
  fill: none;
  stroke-width: 5;
  stroke: #bdbdbd;
}

@media (max-width: 375px) {
  .header__cart-link {
    padding: 0 10px 0 15px;
  }
}

.header__cart-link:hover .header__cart-image {
  stroke: #ff5f00;
}

.header__cart-link:hover .header__cart-link-text {
  color: #ff5f00;
}

.header__cart-link:hover .header__button-group.header__cart-group--color .header__cart-image {
  stroke: white;
}

.header__cart-link:hover .header__button-group.header__cart-group--color .header__cart-link-text {
  color: white;
}

.header__cart-image {
  height: 18px;
  width: 18px;
  stroke-width: 1.5;
  fill: none;
  stroke: darkgrey;
  stroke-linecap: round;
  stroke-linejoin: round;
  display: block;
}
