.more-products-btn {
  margin-bottom: 20px;
  height: 3rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 4px #00000012;
  background-color: white;
}

.more-products-btn:hover {
  box-shadow: 0px 3px 5px #00000017;
  background-color: #f9f9f9;
}
