@import "vars";
@import "fonts";

@import "components/header";
@import "components/search";
@import "components/promo";
@import "components/sidebar";
@import "components/sidebar-price-filter";
@import "components/category-panel";
@import "components/product-block";
@import "components/product-counter";
@import "components/pagination";
@import "components/footer";

@import "components/product-screen";
@import "components/favourites-screen";
@import "components/cart-screen";
@import "components/signin-screen";
@import "components/register-screen";
@import "components/profile-screen";
@import "components/admin-dashboard";
@import "components/admin-wellcome";
@import "components/admin-products";
@import "components/admin-product-block";
@import "components/admin-add-product";
@import "components/order-screen";
@import "components/thanks-screen";
@import "components/not-found-screen";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Value Sans Pro", sans-serif;
  font-size: 16px;
  background-color: #faf9f8;
  color: $text;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(100 100 100 / 17%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  & :visited {
    color: black;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

button {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  border: none;
  background: none;
  cursor: pointer;

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    background-color: #cecece;
    border-color: #cecece;

    &:hover {
      background-color: #cecece;
      border-color: #cecece;
      cursor: default;
    }
  }
}

img {
  user-select: none;
}

label {
  cursor: text;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.skeleton {
  border-radius: 10px;
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #ffffff 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s skeleton linear infinite;

  @keyframes skeleton {
    to {
      background-position-x: -200%;
    }
  }
}

.container {
  max-width: 1185px;
  margin: 0 auto;
}

@media (max-width: 1240px) {
  .container {
    padding: 0 15px;
  }
}

.vitrina {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-gap: 14px;
}

@media (max-width: 936px) {
  .vitrina {
    grid-template-columns: auto;
  }
}

.products-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

.products-container[data-temp="list"] {
  grid-template-columns: 1fr;
  grid-gap: 6px;
}

.products-container[data-temp="grid"] {
  grid-template-columns: repeat(auto-fill, minmax(202px, 1fr));
  grid-gap: 6px;
}

.page__title {
  padding-bottom: 16px;
  display: inline-flex;
  align-items: center;
  font-weight: 600;

  &.skeleton {
    height: 14px;
    width: 630px;
    margin-bottom: 16px;
  }

  & .title {
    margin-right: 12px;
    font-size: 30px;
  }

  & span {
    font-size: 30px;
  }
}

.border-primary:hover {
  border-color: $primary;
  transition: 0.3s ease;
}

.text-primary:hover {
  color: $primary;
  transition: 0.1s ease;
  cursor: pointer;
}

.go-to-back-link {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  grid-area: link;

  &:hover {
    .arrow {
      & span {
        background-color: $primary;
      }
    }

    & span {
      color: $primary;
    }
  }

  & .arrow {
    padding-right: 8px;

    & span {
      display: block;
      width: 6px;
      height: 1px;
      margin: 6px auto;
      background-color: #747474;

      &:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
      }

      &:nth-child(2) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}

.width-max {
  width: 100%;
}

.none {
  display: none;
}

.padding-bottom {
  padding-bottom: 60px;
}

.logout-button {
  padding: 10px 10px 10px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    padding-right: 6px;

    & path {
      fill: #ffb23f;
    }

    & line {
      stroke: #ffb23f;
    }
  }

  & span {
    font-size: 15px;
    color: #ff9900;
  }
}

.admin-button {
  padding: 14px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(41, 52, 120, 0.53);
  color: white;
  display: inline-flex;
  align-items: center;
  transition: $transition;

  &:hover {
    background-color: rgb(41 52 120 / 58%);
    transition: $transition;
  }

  & span {
    padding-right: 6px;
  }
}

.product-not-found {
  height: 311px;
}

.loader-spinner {
  margin: 0 auto;
  font-size: 18px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
